source activate teaching-microeconometrics

# Location of project
export PROJECT_ROOT=$PWD

# Location for utility scripts
export PATH=$PWD/bin:$PATH

# Location of matplotlib configuration
export MATPLOTLIBRC=$PWD/configurations

# Locatio for jupyter configuration
export JUPYTER_CONFIG_DIR=$PWD/configurations/jupyter

# Location for startup scripts
export IPYTHONDIR=$PWD/configurations/ipython
