source activate hc_microeconometrics

# Location of matplotlib configuration
export MATPLOTLIBRC=$PWD/configurations

# Locatio for jupyter configuration, e.g. startup imports
export JUPYTER_CONFIG_DIR=$PWD/configurations/jupyter
