<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open Sans:400,700,400italic' rel='stylesheet' type='text/css'>

<style>

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

#notebook_panel { /* main background */
    background: #888;
    color: #f6f6f6;
}


div.cell { /* set cell width to about 80 chars */
    width: 1000px;
}


div.text_cell_render {
/*font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
font-family: "Open Sans", sans-serif; /* Make non-code text serif. */
line-height: 145%; /* added for some line spacing of text. */
width: 105ex; /* instead of 'inherit' for shorter lines */
}

div #notebook { /* centre the content */
    background: #fff; /* white background for content */
    width: 1200px;
    margin: auto;
    padding-left: 1em;
}

#notebook li { /* More space between bullet points */
margin-top:0.8em;
}

/* draw border around running cells */
div.cell.border-box-sizing.code_cell.running {
    border: 3px solid #111;
}

/* Put a solid color box around each cell and its output, visually linking them together */
div.cell.code_cell {
    background-color: rgba(171,165,131,0.3); 
    border-radius: 10px; /* rounded borders */
    padding: 1em;
    margin-top: 1em;
}

div.cell {  /* set cell width to about 80 chars, rounds edges, adds left colorerd bracket */
    width: 1000px;
    border-radius: 10px;
    border-left: 5px solid rgb(0,137,183) !important;
}

div.cell.selected { /* rounds edges, adds left colorerd bracket */
    border-radius: 10px;
    border-left: 5px solid rgb(0,137,183) !important;
}

.edit_mode div.cell.selected {  /* rounds edges, adds left colorerd bracket */
    border: medium solid rgb(0,137,183);
    border-radius: 10px;
}

div.text_cell_render{
    font-family: 'Open Sans', sans-serif;
    line-height: 130%;
    font-size: 12pt;
    font-weight: 400;
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

/* Formatting for header cells */
.text_cell_render h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 32pt;
    line-height: 100%;
    color: rgb(0,137,183);
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    display: block;
}

.text_cell_render h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 24pt;
    line-height: 100%;
    color: rgb(0,137,183);
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    display: block;
}    

.text_cell_render h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-top:16px;
    margin-bottom: 3px;
    font-style: italic;
    color: rgb(0,76,102);
}

.text_cell_render h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 19pt;
    color: rgb(0,76,102);
}

.text_cell_render h5 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    color: rgb(0,76,102);
    font-style: italic;
    margin-bottom: .1em;
    margin-top: 0.1em;
    display: block;
}

.text_cell_render h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    color: rgb(0,76,102);
    margin-bottom: 1px;
    margin-top: 1px;
}

.CodeMirror{
        font-family: "PT Mono";
        font-size: 120%;
}
</style>
